<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mb-4">
    <div class="card h-100 bg-faded-light">
        <div class="card-body toc">
            <div class="flex-container" style="display: flex; align-items: left; justify-content: left;">
                <img src="{{ .Get "image" }}" alt="" style="flex-basis: 10%; max-width: 64px; height: 64px; align-self: left; border: 1px solid gray;">
                <div class="spacer" style="flex-basis: 20px"></div>
                <p id="{{ .Get "name"}}" style="flex-basis:85%; align-self: center">{{ .Get "name" }}</p>
            </div>
            

            <div class="flex-container" style="display: flex;">
                <div class="col-md-4" style="flex-basis: 33.33%; max-width: 33.33%;">
                    <p class="fs-6 p-01">ID: {{ .Get "code"}}</p>
                    <p class="fs-6 p-01">Tier: {{ .Get "tier" }}</p>
                    <p class="fs-6 p-01">Race: {{ .Get "race" }}</p>
                    <p class="fs-6 p-01">Combat: {{ .Get "combat" }}</p>
                    <p class="fs-6 p-01">HP: {{ .Get "hp" }}</p>
                    <p class="fs-6 p-01">Mana: {{ .Get "mana" }}</p>
                    <p class="fs-6 p-01">{{ .Get "description" }}</p>
                    <p class="fs-6 p-01">{{ .Get "line2" }}</p>
                    <p class="fs-6 p-01">{{ .Get "line3" }}</p>
                    
                </div>
                <div class="col-md-4" style="flex-basis: 33.33%; max-width: 33.33%;">
                    <p class="fs-6 p-01">Speed: {{ .Get "speed" }}</p>
                    <p class="fs-6 p-01">Damage: {{ .Get "min" }}-{{ .Get "max"}} {{ .Get "type" }}</p>
                    <p class="fs-6 p-01">Attack: {{ .Get "attacktype" }}</p>                    
                    <p class="fs-6 p-01">Resistance: {{ .Get "resistance" }}</p>
                    <p class="fs-6 p-01">View: {{ .Get "view" }}</p>
                    <p class="fs-6 p-01">Resists: {{ .Get "resists" }}</p>
                    <p class="fs-6 p-01">Hotkey: {{ .Get "hkey" }}</p>
                    
                    <p> -- advanced --</p>
                    <p class="fs-6 p-01">Movement Type: {{ .Get "movementtype" }}</p>
                    <p class="fs-6 p-01">Used By: {{ if .Inner }}{{ .Inner }}{{else}}None{{ end}}</p>
                </div>
                <div class="col-md-4" style="flex-basis: 33.33%; max-width: 33.33%;">
                    <p class="fs-6 p-01">General: {{ .Get "general" }}</p>
                    <p class="fs-6 p-01">Advanced: {{ .Get "advanced" }}</p>
                    <p class="fs-6 p-01">{{ .Get "strong" }}</p>
                    <p class="fs-6 p-01">Alignment: {{ .Get "alignment" }}</p>
                    <p class="fs-6 p-01">Cost: {{ .Get "cost" }}</p>
                    <p class="fs-6 p-01">Flags: {{ .Get "flag" }}</p>
                </div>
            </div>
        </div>
    </div>
</div>